*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: #f2f2f2;
}
.nav{
    display: flex;
    width: 100%;
    /* max-width:00PX; */
    justify-content: space-around;
    background-color: darkviolet;
    height: 50px;
    align-items: center; 
    padding-bottom: 5px;
}
.nav__item{
    width: 90px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color:#fff;
    padding:10px 10px 5px;
    border-bottom:2px solid #fff;
}
.nav__item:hover{
    background-color: rgb(160, 72, 197);
    border: none;
    border-radius: 20px;
}
.title{
    width: 100%;
    text-align: center;
    margin: 20px 0 0px;
}
.o{
    display: inline;
    width: 100%;
    font-size: 1.6rem;
    border-right:2px solid #000;
    letter-spacing: 3px;
    
}
.container{
    padding:20px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.item{
    width: 250px;
    box-shadow: 1px 1px 5px rgb(0,0,0,.3);
    border-radius:5px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:15px;
    
}
.item__img{
    border-radius:5px 5px 0 0;
    height: 174px;
    object-fit: cover;
}
.item__link{
    display: inline-block;
    text-align: center;
    text-decoration:none;
    font-size: 1rem;
    margin: 10px 0;
    padding: 10px 25px;
    border-radius: 20px;
    color:#fff;
    background-color: darkviolet;
}
.item__link:hover{
    background-color: rgb(167, 94, 199);
}
.container-u{
    height: 100vh;
    display: flex;
    justify-content: center;
    
}
.item-u{
    width: 800px;
    text-align: center;
}
.item-u>h1,a,p{
    margin:40px 0;
}